{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel = "stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	<title>E-commerce</title>
</head>

<body>
  <!-- navbar -->

	<nav class="one-edge-shadow 
	navbar navbar-light
	sticky-top navbar 
	navbar-expand-lg
	text-white">
		<a class="navbar-brand ms-3 text-dark " href="/">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

		<img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" style="width:50px;height:50px;color:text-light;">YOUR'S MART</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/store">Store <span class="sr-only">(current)</span></a>
				</li>
			
			</ul>
			<form method="GET" action="/search" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2 form-sm" type="search" name="query" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-dark my-2 my-sm-0 btn-sm" id = "btn" type="submit">Search</button>
			</form>

			<ul class=" navbar-nav my-2 my-lg-0">

				<li class="nav-item active">
					<a class="nav-link" href="/cart">Cart 
					<span class="badge badge-success">{{request.session.cart.keys|length}}</span>
					<span class="sr-only">(current)</span></a>
				</li>

				{% if request.session.customer %}
			
					<li class="nav-item active ">
						<a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active ">
						<a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
					</li>
				{% else %}
		
					<li class="nav-item active">
						<a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
					</li>
				{% endif %}


			</ul>


		</div>
	</nav> 
    <!---->
    {% block content %}{% endblock %}
	
<!--footer starts from here-->



	<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                
						<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
						<p><i class="fa fa-location-arrow"></i> Kathmandu,Nepal </p>
						<p><i class="fa fa-phone"></i>  +977-986206728  </p>
						<p><i class="fa fa fa-envelope"></i> yoursmart@gmail.com  </p>

                    </div>
                    <div class="col-sm-6 col-md-3 item">
						<h5 class="headin5_amrc col_white_amrc pt2">Customer Care</h5>
						<!--headin5_amrc-->
						<ul class="footer_ul_amrc">
							<li><a href="#">Help Center</a></li>
							<li><a href="#">How to Buy</a></li>
							<li><a href="#">Returns & Refunds</a></li>
							<li><a href="#">Esewa & Khalti</a></li>
						</ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>YOUR'S Mart</h3>
                        <p>
							YOUR'S Mart Pvt. Ltd is Nepal's one of leading online grocery store, operating through the capital city of the Himalayan nation, Kathmandu.</p>
                    </div>
                    <div class="col item social">
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-youtube"></i></a>

					</div>
				</div>
                <p class="copyright">Copyright @2022 | Designed by YOUR'S Mart</p>
            </div>
        </footer>
    </div>
		<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>